APP_TIMEZONE=Asia/Manila
APP_PUBLIC_URL=http://localhost/library-management-system

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=library_management_system
DB_USER=root
DB_PASS=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=yourgmail@gmail.com
MAIL_PASSWORD=your_google_app_password
MAIL_FROM_EMAIL=yourgmail@gmail.com
MAIL_FROM_NAME=Library Management System
MAIL_ENCRYPTION=tls

EMAIL_VERIFICATION_MODE=none
EMAIL_VERIFICATION_EMAILS=
EMAIL_VERIFICATION_EXPIRES_HOURS=24
